<ng-container
  *ngIf="{
    loading: (loading$ | async)!,
    loaded: (loaded$ | async)!,
    questions: (questions$ | async)!,
    bestScore: (bestScore$ | async)!,
    played: (played$ | async)!
  } as data"
>
  <div class="part1 flex-fill-row">
    <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
  </div>
  <div class="part2 flex-fill-row">
    <mat-progress-spinner
      *ngIf="data.loading"
      [diameter]="50"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>

  <div class="main">
    <span *ngIf="data.loaded" class="main-subtitle1"
      >{{ data.questions.length }} questions</span
    >
    <span class="main-subtitle2">Mon test technique</span>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="start()"
        [disabled]="!data.loaded"
      >
        Démarrer
      </button>
    </div>
  </div>

  <div *ngIf="data.played" class="bestscore">
    <span class="bestscore-subtitle1">Best Score</span>
    <span class="bestscore-subtitle2"
      >{{ data.bestScore }}/{{ data.questions.length }}</span
    >
  </div>
</ng-container>
