<ng-container
  *ngIf="{
    loading: (loading$ | async)!,
    loaded: (loaded$ | async)!,
    questions: (questions$ | async)!,
    bestScore: (bestScore$ | async)!,
    played: (played$ | async)!
  } as data"
>
  <div class="flex-column">
    <span>{{ data.questions.length }} questions</span>
    <span>Mon test technique</span>
    <div>
      <button mat-flat-button color="primary" (click)="start()" [disabled]="!data.loaded">
        Démarrer
      </button>
    </div>
  </div>

  <mat-progress-spinner
    *ngIf="data.loading"
    [diameter]="50"
    mode="indeterminate"
  ></mat-progress-spinner>

  <div *ngIf="data.played">
    Best Score {{ data.bestScore }} / {{ data.questions.length }}
  </div>
</ng-container>
