<ng-container
  *ngIf="{
    question: (question$ | async)!,
    questions: (questions$ | async)!,
    answer: (answer$ | async)!,
    timer: (timer$ | async)!
  } as data"
>
  <div class="header flex-row align-items-center justify-content-between">
    <h1>Question {{ data.question.order }} / {{ data.questions.length }}</h1>
    {{ data.timer }}
  </div>

  <ng-container [ngSwitch]="data.question.dto.answerType">
    <question-choice
      *ngSwitchCase="'choice'"
      [question]="$any(data.question.dto)"
      (answerChange)="onAnswerChange($event)"
    ></question-choice>
    <question-multiple-choice
      *ngSwitchCase="'multiple-choice'"
      [question]="$any(data.question.dto)"
      (answerChange)="onAnswerChange($event)"
    ></question-multiple-choice>
    <question-text
      *ngSwitchCase="'text'"
      [question]="$any(data.question.dto)"
      (answerChange)="onAnswerChange($event)"
    ></question-text>
  </ng-container>

  <div>
    <button mat-flat-button color="primary" (click)="next()" [disabled]="!data.answer">Valider</button>
  </div>
</ng-container>
